@import "../../utils/component";

.followMe {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  h4 {
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      margin: 0;
      margin-left: 0.5rem;
    }
  }
  a {
    color: $textColor1;
  }
  @include media-breakpoint-up(md) {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: fit-content;
    flex: 1;
    svg {
      transform: rotate(180deg);
    }
  }
}
