@import "../../utils/component";

.topNav {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: $bgColorDark2;
  height: 60px;
  z-index: 1;
  .container {
    .navbar-brand {
      .logo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        @include media-breakpoint-up(sm) {
          width: 40px;
          height: 40px;
        }
      }
    }
    .navbar-nav {
      gap: 0.5rem;
      align-items: center;
      @include media-breakpoint-up(sm) {
        gap: 1rem;
      }
      .navLinks {
        &:hover {
          border-bottom: 0.1rem solid $textColor1;
        }
      }
      .resumeLink {
        border: 0.1rem solid $accentColor2;
        border-radius: 5%;
        padding: 0.1rem 0.2rem;
        color: $accentColor2;
        text-align: center;
        svg {
          margin-right: 0.5rem;
        }
        &:hover {
          background-color: $accentColor2Tr;
        }
      }
    }
  }
}
