/* color palette*/
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/bootstrap";

$bgColorDark: #7a392c;
$bgColorDark2: #a77f75;
$bgColorLight: #e4dddc;
$textColor1: white;
$textColor2: black;

$accentColor1: #cd7371;
$accentColor2: #b56a16;

$color2: #e5e5e5;

$color6: #161c14;
$color7: #fadb8c;

$color1Tr: #ffffffac;
$color3Tr: #b56b169d;
$color4Tr: #7a392ca9;
$color5Tr: #a77f75be;
$color7Tr: #fadb8cbe;
$blackTr: rgba(0, 0, 0, 0.793);

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    bottom: 25%;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    bottom: 25%;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    bottom: 25%;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    bottom: 25%;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    bottom: 25%;
  }
}
