@import "../../utils/component";

.intro,
.skill {
  height: 100%;
  margin: 1rem 0.5rem;
  text-align: justify;
  background-color: $color5Tr;
  padding: 1rem;
  border-left: 1rem solid $color4Tr;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  h2 {
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
    color: $bgColorDark;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%; /* 位置調整 */
      transform: translate(-50%); /* 位置調整 */
      bottom: -10px; /* 下線の上下位置調整 */
      width: 30px; /* 下線の幅 */
      height: 2px; /* 下線の太さ */
      background-color: $bgColorLight; /* 下線の色 */
    }
  }
  h3 {
    color: $bgColorDark;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      svg {
        margin-right: 0.5rem;
        color: $bgColorDark;
      }
    }
  }
  p {
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .description {
    font-weight: unset;
  }
  .skillRow {
    width: 90%;
    margin: auto;
    .col {
      text-align: center;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
