@import "./utils/component";

body,
.root {
  margin: 0;
  font-family: "Cuprum", sans-serif !important;
  color: $textColor1 !important;
}

a {
  color: $textColor1 !important;
  text-decoration: none !important;
  &:hover {
    transition: 0.5s;
    color: $bgColorDark !important;
  }
}
